.blind {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    margin: -1px;
    clip: rect(0,0,0,0);
}

#skipNav {
    position: absolute;
    top: 0;
    left: 0;
}
#skipNav a { 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    position: absolute;
    white-space: nowrap;
    background: #000;
    color: #fff;
    padding: 0 20px;
    transform: translateY(-100%);
    
}
#skipNav a:focus,
#skipNav a:active { 
    transform: translateY(0);

}
.awwwards {
    position: fixed;
    z-index: 999;
    transform: translateY(-50%);
    top: 50%;
    right: 0;
}
.btn-more {
    align-items: center;
    display: flex;
    justify-content: center;
    white-space: nowrap;
    font-weight: 500;
    text-transform: uppercase;
    padding: max(6px,.75rem) max(6px,.75rem) max(6px,.75rem) max(14px,1.6rem);
    gap: max(1rem,8px);
    border: 1px solid #4d3d30;
    border-radius: max(6.4rem,50px);
    letter-spacing: -.05em;
    width: fit-content;
    height: fit-content;
    height: max(35px,4.5rem);
    overflow: hidden;
    color: #1b1816;
    .text {
        font-size: 13px;
        font-weight: 500;
        letter-spacing: -.03em;
    }
    .svg{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        min-width: 24px;
        min-height: 24px;
        gap: 8px;
        overflow: hidden;
        background: #4d3d30;
        border-radius: 40px;
        svg {
            width: 14px;
            min-width: 14px;
            height: 14px;
            min-height: 14px;
            transition: transform .85s var(--ease-out-expo);
        }
    }
}

.sub-title {
    padding-left: 10px;
    white-space: nowrap;
    text-transform: uppercase;
    color: #4d3d30;
    letter-spacing: -.01em;
    font-size: 30px;
}