*{margin:0;padding:0;font:inherit;color:inherit;}
*, :after, :before {box-sizing:border-box;}
html, body {height:100%;}
img, picture, video, canvas, svg {display: block;max-width:100%;}
button {background:none;border:0;cursor:pointer;}
a {text-decoration:none}
table {border-collapse:collapse;border-spacing:0}
ul {
    list-style: none;
}
html {
    font-size: min(12px, .6944444444vw);
    //1rem 10px
    //minimum 12px
    //max, min 값으로 설정
    line-height: 1;
}
body {
    background-color: #f4f0ea;
    color: #1b1816;
    font-family: $font-en;
    width: 100%;
    min-height: 100%;
}