.loading {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #f4f0ea;
    z-index: 99;
}
.loading-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: max(10px,1.6rem);
    gap: max(10px,1.6rem);
    .thumb-box {
        position: relative;
        height: max(200px,40rem);
        aspect-ratio: .8337408313;
        object-fit: cover;
        overflow: hidden;
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transform: translateX(-110%);
        }
    }
    .text {
        position: relative;
        font-size: max(60px,20rem);
        text-align: center;
        overflow: hidden;
        color: #4d3d30;
        font-weight: 400;
        line-height: 113%;
        letter-spacing: -.05em;
    }
    .curr {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .end {
        opacity: 0;
        visibility: visible;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        text-align: center;
        &.on {
            opacity: 1;
            visibility: visible;
        }
    }
    .logo-text {
        display: flex;
        justify-content: center;
        text-align: center;
        transform: translateY(100%);
    }
}

.sc-hero {
    position: relative;
    height: 144rem;
    min-height: 1000px;
    overflow: hidden;
    .hero-bg {
        background: #4d3d30;
        overflow: hidden;
        transform: scale(1.3, 1.3);
        video {
            aspect-ratio: .8;
            object-fit: cover;
            opacity: .8;
            width: 100%;
            min-height: 1100px;
            object-position: bottom;
            height: auto;
            background: #4d3d30;
        }
    }

    .hero-content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        color: #fff;
        padding: 10px;
        .content-main {
            display: flex; 
            font-size: 34vw;
            white-space: nowrap;
            font-weight: 400;
            line-height: 1;
            letter-spacing: -.07em;
            margin-top: 50px;
            position: relative;
            left: -8px;
            color: #f4f0ea;
            .word {
                overflow-y: clip; 
            }
        }

        .content-collect {
            margin-left: max(40px,8rem);
            margin-bottom: max(40px,10rem);
            width: max(250px,28.7rem);
            font-size: 14px;
            font-weight: 200;
            .collect-desc {
                text-transform: uppercase;
                line-height: 143%;
                margin-bottom: 10px;
                .word {
                    overflow-y: clip;
                }
            }
            @include mobile {
                margin-top: 40px;
                margin-left: 0;
            }
            .btn-more.white {
                font-size: 1.4rem;
                font-weight: 500;
                letter-spacing: -.03em;
                border: 1px solid #f4f0ea;
                color: #f4f0ea;
                .svg {
                    background: #f4f0ea;
                }
            }
        }
        .content-paragraph {
            .title {
                width: max(290px,56rem);
                text-align: right;
                line-height: 1.13;
                margin-left: 23vw;
                font-size: max(32px,6.4rem);
                letter-spacing: -.05em;
                .line {
                    overflow: hidden;
                    line-height: 1;
                    display: inline-block;
                }
                
            }
            @include mobile {
                margin-bottom: 50px;
                .title {
                    margin-left: 15vw;
                }
            }
            @include mini {
                .title {
                    font-size: 7.75vw;
                    margin-left: 0;
                }
            }
        }
        .content-recommend {
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-top: 20px;
            .recommend-product {                
                color: #4d3d30;
                .link {
                    display: flex;
                    flex-direction: column;
                }
                .thumb {
                    aspect-ratio: 1.0334346505;
                    object-fit: cover;
                    height: max(34rem,190px);
                    overflow: hidden;
                    background: #f4f0ea;
                    padding: 6px;
                    @include tablet {
                    }
                }
                .text {
                    display: flex;
                    flex-direction: column;
                    opacity: 0;
                    transition: opacity 0.5s;
                    font-size: max(13px,1.4rem);
                    font-weight: 500;
                    letter-spacing: -.03em;
                    background: #f4f0ea;
                    padding: 6px;
                    @include tablet {
                        opacity: 1;
                    }

                }
                .name {
                    display: flex;
                    align-items: center;
                    gap: max(1rem,10px);
                    padding-block: max(3px,.4rem);
                }
                .price {
                    font-weight: 900;
                    margin-bottom: max(6px,.8rem);
                }
                footer {
                    text-align: right;
                    padding-block: max(3px,.4rem);
                }
            }
            .title {
                display: block;
                text-align: center;
                text-transform: uppercase;
                white-space: nowrap;
                margin-top: 30px;
                letter-spacing: -.045em;
                font-size: 9.6rem;
                @include tablet {
                    display: none;
                }
            }
        }

    }
}


.sc-hero-about {    
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    overflow: hidden;
    padding-top: 10px;
    padding-inline: 10rem;
    padding-bottom: 80px;
    margin-inline: auto;
    margin-top: 40px;

    @include tablet {
        width: 100%;
        grid-template-columns: 1fr;
        padding-inline: 10px;
    }
    .about-thumb {
        display: block;
        position: relative;
        height: fit-content;
        @include tablet {
            display: none;
        }
        .thumb-img1{
            width: max(240px,34rem);
            height: auto;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .thumb-img2{
            width: max(150px,24rem);
            height: auto;
            position: absolute;
            top: 50%;
            right: 18%;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    .about-text {
        .title {
            display: block;
            text-align: justify;
            font-weight: 400;
            font-size: max(24px, 4rem);
            line-height: 1.3;
            letter-spacing: -.02em;
            text-transform: uppercase;
            color: #4d3d30;
            margin-bottom: 15px;
            font-weight: 300;
        }
        .desc {
            width: max(34rem,280px);
            text-align: justify;
            line-height: 153%;
            color: #4d3d30;
            margin-bottom: max(1rem,10px);
            font-size: max(14px,1.6rem);
            font-weight: 300;
        }
    }
}

.sc-featured {
    overflow: hidden;
    .featured-box {
        display: flex;
        max-width: max-content;
        margin-top: 20px;
        ul {
            display: flex;
        }
        li {
            background: #e8e0d4;
            margin-right: 10px;
            .link {
                display: flex;
                flex-direction: column;
            }

            .thumb {
                position: relative;
                overflow: hidden;
                aspect-ratio: 1.0268456376;
                object-fit: cover;
                min-height: 280px;
            }
            .desc {
                padding: 10px;
                .title {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    text-transform: uppercase;
                    margin-bottom: 6px;
                    line-height: 1.25;
                    font-size: 13px;
                    font-weight: 500;
                    letter-spacing: -.03em;
                }
                
                .price {
                    font-weight: 400;
                    font-size: 20px;
                }
            }
        }
    }
}

.sc-showcase {
    padding: 10px;
    //overflow: hidden;
    position: relative;
    height: 700vh;
    @include tablet {
        height: auto;
    }

    .showcase-inner {
        position: sticky;
        top: 0;
        height: 100vh;
        display: flex;
        align-items: center;
        padding-left: 50vw;
        overflow: hidden;
        @include tablet {
            position: static;
            height: auto;
            padding: 100px 0;
            justify-content: center;
        }
    }
    .showcase-list {
        display: flex;
        justify-content: flex-start;
        gap: max(150px, 25rem);
        width: fit-content;
        @include tablet {
            flex-direction: column;
            width: 100%;
            padding: 0;
        }
        @include mobile-s {
            gap: max(10rem,50px);
        }
    }
    .showcase-item {
        display: flex;
        align-items: center;
        gap: max(2rem,15px);
        @include tablet {
            margin-right: auto;
        }
        @include mobile-s {
            flex-direction: column;
            margin-right: 0;
        }

        &:nth-of-type(even){
            @include tablet {
                flex-direction: row-reverse;
                margin-left: auto;
                margin-right: 0;
            }
            @include mobile-s {
                flex-direction: column;
                margin-left: 0;
            }
        }

        .content-thumb {
            position: relative;
            width: max(35rem, 240px);
            @include mobile-s {
                width: 100%;
                height: auto;
                aspect-ratio: 951/884;
            }
            .wrap {
                position: relative;
                width: 100%;
                overflow: hidden;
            }
            .back {
                position: relative;
                overflow: hidden;
                width: 100%;
                height: auto;
                aspect-ratio: 951 / 884;
                object-fit: cover;
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    width: 100%;
                    height: 100%;
                    //max-width: 120%;
                    object-fit: cover;
                }
            }
            .front {
                overflow: hidden;
                aspect-ratio: 271 / 298;
                width: max(19.3rem,130px);
                position: absolute;
                top: 100%;
                left: 0;
                transform: translate(70%, -70%);

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                @include mobile-s {
                    display: none;
                }
            }
        }
        .content-text {
            .title {
                font-size: max(50px,9.6rem);
                line-height: 113%;
                letter-spacing: -.04em;
                text-transform: uppercase;
                text-align: center;
                color: #4d3d30;
                margin-bottom: max(5px,.5rem);
                @include mobile-s {
                    font-size: 14rem;
                }
            }
        }
    }
}

.sc-showcase-about {
    overflow: hidden;
    height: 90rem;
    min-height: 400px;
    background: #4d3d30;
    margin: max(10px,1.6rem);
    position: relative;
    .about-thumb {
       position: absolute;
       left: 0;
       top: 0;
       width: 100%;
       height: 100%;
       overflow: hidden;
    }
    .bg {
        width: 100%;
        height: 100%;
        object-fit: cover;
        img {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 150%;
            height: 150%;
            object-fit: cover;
        }
    }
    .about-desc {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding-block: max(5.5rem, 30px);
        padding-inline: max(13rem, 50px);
        background: #f4f0ea;
        @include tablet {
            padding-block: max(4rem, 30px);
            padding-inline: max(3rem, 16px);
        }
        p {
            font-weight: 300;
            display: block;
            margin-bottom: 1rem;
            font-size: max(14px,1.6rem);
        }
        .year {
            font-weight: 400;
            margin-bottom: max(10px,1.6rem);
            font-size: max(60px,12.8rem);
            color: #4d3d30;
        }
        .more {
            width: max(30rem,250px);
            font-weight: 400;
            line-height: 139.5%;
            margin-bottom: calc(1.5rem + 10px);
        }
    }
}


.sc-arrival {
    margin-top: 100px;
    overflow: hidden;

    .arrival-box {
        display: flex;
        justify-content: flex-end;
        padding-top: calc(10px + 10px);
        padding-inline: 10px;
    }
    ul {
        display: flex;
    }
    li {
        margin-right: 10px;
        background: #e8e0d4;
        .link {
            display: flex;
            flex-direction: column;

            .thumb {
                position: relative;
                overflow: hidden;
                aspect-ratio: 1.0268456376;
                object-fit: cover;
                min-height: 280px;
            }
            .desc {
                padding: 10px;
                .title {
                    display: flex;
                    align-items: center;
                    gap: max(1rem,10px);
                    text-transform: uppercase;
                    margin-bottom: 6px;
                    line-height: 1.25;
                    font-size: max(13px,1.4rem);
                    font-size: 13px;
                    font-weight: 500;
                    letter-spacing: -.03em;
                }
                .price {
                    font-weight: 400;
                    font-size: 20px;
                }
            }
        }
    }
    .arrival-bottom {
        display: flex;
        justify-content: center;
        margin-top: max(40px,6rem);
    }
}

.sc-briefing {
    padding: 10px;
    .briefing-area {
        margin-top: 20rem;
        display: flex;
        gap: 3rem;
        @include mobile{
            flex-direction: column;
        }
        .col-left {
            width: 70%;
            overflow: hidden;
            @include mobile {
                width: 100%;
            }
            img {
                width: 130%;
                height: 130%;
                object-fit: cover;
            }
        }
        .col-right {
            overflow: hidden;
            width: 25%;
            margin-right: max(30px,4rem);
            color: #4d3d30;
            height: fit-content;
            position: sticky;
            top: 65px;
            @include tablet {
                width: max(32rem,280px);
            }
            @include mobile {
                padding-inline: max(10px, 1.6rem);
                width: 100%;
            }
            .desc {
                font-weight: 500;
                line-height: 1.4;
                margin-bottom: max(30px,4rem);
                font-size: max(14px,1.6rem);
            }
        }

    }
}

.sc-newsletter {
    overflow: hidden;
    position: relative;
    padding-block: max(80px,14rem) max(80px,20rem);
    
    .newsletter-text {
        text-transform: uppercase;
        text-align: center;
        width: 80%;
        line-height: 113%;
        margin-inline: auto;
        color: #4d3d30;
        font-size: max(60px,12.8rem);
        @include tablet {
            width: 90%;
        }
        @include mobile-s {
            font-size: 18rem;
        }
    }

    .newsletter-card {
        display: flex;
        justify-content: center;
        align-items: center;    
        flex-direction: column;
        gap: max(10px,1.6rem);
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: max(46rem,280px);
        height: max(170px,21rem);
        background: #e8e0d4;
        will-change: transform;
        .card-paragraph {
            font-size: max(14px,1.6rem);
        }
        .card-input {
            margin-inline: auto;
            width: min(100%,250px);
            position: relative;
            overflow: hidden;
            @include tablet {
                padding-inline: max(10px,1.6rem);
            }
            fieldset {
                border: none;
            }
            input {
                text-indent: 6px;
                width: min(100%,250px);
                height: max(36px,4.5rem);
                background: 0 0;
                color: #4d3d30;
                outline-color: #8e7867;
                border: 1px solid #8e7867;
                border-radius: 60px;
                font-size: max(14px,1.6rem);
            }
            .btn-submit {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                right: max(.8rem,8px);
                top: 50%;
                transform: translateY(-50%);
                width: max(24px, 2.8rem);
                height: max(24px, 2.8rem);
                overflow: hidden;
                background: #4d3d30;
                border-radius: 40px;
                @include tablet {
                    right: 18px;
                }
                cursor: pointer;
                svg {
                    width: 14px;
                    min-width: 14px;
                    height: 14px;
                    min-height: 14px;
                    transition: transform .85s var(--ease-out-expo);
                }
            }
        }
    }   

}