@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}

#skipNav {
  position: absolute;
  top: 0;
  left: 0;
}

#skipNav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  position: absolute;
  white-space: nowrap;
  background: #000;
  color: #fff;
  padding: 0 20px;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

#skipNav a:focus,
#skipNav a:active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.awwwards {
  position: fixed;
  z-index: 999;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  right: 0;
}

.btn-more {
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  white-space: nowrap;
  font-weight: 500;
  text-transform: uppercase;
  padding: max(6px, 0.75rem) max(6px, 0.75rem) max(6px, 0.75rem) max(14px, 1.6rem);
  gap: max(1rem, 8px);
  border: 1px solid #4d3d30;
  border-radius: max(6.4rem, 50px);
  letter-spacing: -0.05em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  height: max(35px, 4.5rem);
  color: #1b1816;
}
.btn-more .text {
  font-size: max(13px, 1.4rem);
  font-weight: 500;
  letter-spacing: -0.03em;
}
.btn-more .svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: max(24px, 2.8rem);
  height: max(24px, 2.8rem);
  min-width: max(24px, 2.8rem);
  min-height: max(24px, 2.8rem);
  gap: max(8px, 1.1rem);
  overflow: hidden;
  background: #4d3d30;
  border-radius: 40px;
}
.btn-more .svg svg {
  width: max(14px, 1.6rem);
  min-width: max(14px, 1.6rem);
  height: max(14px, 1.6rem);
  min-height: max(14px, 1.6rem);
}

.sub-title {
  padding-left: 10px;
  white-space: nowrap;
  text-transform: uppercase;
  color: #4d3d30;
  letter-spacing: -0.01em;
  font-size: 30px;
}

[data-scroll=paragraph] > .line {
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

*, :after, :before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  list-style: none;
}

html {
  font-size: min(12px, 0.6944444444vw);
  line-height: 1;
}

body {
  background-color: #f4f0ea;
  color: #1b1816;
  font-family: "Manrope", sans-serif;
  width: 100%;
  min-height: 100%;
}

.dimmed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  height: 0;
  -webkit-transition: 0.3s 0.5s;
  transition: 0.3s 0.5s;
  z-index: 1;
  background: rgba(27, 24, 22, 0.6);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

body.hidden .dimmed {
  height: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#header {
  font-size: 13px;
  letter-spacing: -0.03em;
  border-bottom: 1px solid rgba(77, 61, 48, 0.2);
  position: fixed;
  z-index: 10;
  left: 0;
  width: 100%;
  top: 0;
  padding: 10px;
  background: #f4f0ea;
}

.header-inner {
  z-index: 11;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header-inner .logo a {
  font-weight: 600;
  padding: 0;
}

.header-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.header-menu .menu-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.header-menu .menu-toggle .menu-icon {
  width: 20px;
  height: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header-menu .menu-toggle .menu-icon span {
  height: 1px;
  width: 100%;
  display: inline-block;
  background: #4d3d30;
  position: relative;
  will-change: transform;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header-menu .menu-toggle .menu-text {
  position: relative;
}
.header-menu .menu-toggle .menu-text span {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header-menu .menu-toggle .menu-text .close {
  position: absolute;
  left: 0;
  visibility: hidden;
  opacity: 0;
}
.header-menu .menu-toggle.on .menu-text .open {
  opacity: 0;
  visibility: hidden;
}
.header-menu .menu-toggle.on .menu-text .close {
  opacity: 1;
  visibility: visible;
}
.header-menu .menu-toggle.on .menu-icon span.top {
  rotate: -45deg;
  translate: 0 5px;
}
.header-menu .menu-toggle.on .menu-icon span.bottom {
  rotate: 45deg;
  translate: 0 -2px;
}

.header-util {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
@media (max-width: 480px) {
  .header-util .shop-link {
    display: none;
  }
}
.header-util .cart-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-util .cart-toggle svg {
  width: 13px;
}

.header-util.on {
  visibility: hidden;
  opacity: 0;
}

.gnb {
  display: none;
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  overflow: hidden;
  background: #f4f0ea;
  z-index: 9;
}
.gnb .gnb-inner {
  padding: 10px;
}
.gnb .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  white-space: nowrap;
  width: 75rem;
  margin-block: 40px 30px;
}
.gnb .nav-item {
  overflow: hidden;
}
.gnb .nav-item a {
  text-transform: uppercase;
  display: block;
  padding-right: 20px;
  padding-bottom: 15px;
  font-size: 32px;
  letter-spacing: -0.05em;
}
.gnb .nav-item a .char {
  opacity: 0;
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
}
.gnb .nav-item a:active {
  font-style: italic;
  font-weight: 400;
}
.gnb .nav-root {
  width: 75%;
  display: grid;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 18px 30px;
  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  white-space: nowrap;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.03em;
}
.gnb .root-made {
  overflow: hidden;
}
.gnb .root-made .title {
  line-height: 1.1;
  color: #9f9689;
}
.gnb .root-made .name {
  color: #1b1816;
}
.gnb .root-typo {
  overflow: hidden;
}
.gnb .root-typo .title {
  line-height: 1.1;
  color: #9f9689;
}
.gnb .root-typo .name {
  color: #1b1816;
}
.gnb .root-img {
  overflow: hidden;
}
.gnb .root-img .title {
  line-height: 1.1;
  color: #9f9689;
}
.gnb .root-img .name {
  color: #1b1816;
}
.gnb .root-info .contact {
  display: block;
}
@media all and (max-width: 768px) {
  .gnb .nav-list {
    width: 80%;
  }
  .gnb .nav-root {
    width: 65%;
  }
}
@media all and (max-width: 600px) {
  .gnb .nav-list {
    width: 100%;
  }
  .gnb .nav-root {
    width: 100%;
  }
}

#footer {
  padding: 10px;
  background-size: cover;
  position: relative;
}

.footer-bg {
  overflow: hidden;
  position: absolute;
  background: #4d3d30;
  left: 10px;
  right: 10px;
  bottom: 10px;
  top: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
}
.footer-bg img {
  width: 120%;
  height: 120%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer-content {
  position: relative;
  overflow: hidden;
  padding: 10px;
  display: grid;
  grid-template-columns: 0.57fr 1fr;
  grid-gap: 30px;
  gap: 30px;
}
@media (max-width: 370px) {
  .footer-content {
    grid-template-columns: 1fr;
  }
}
.footer-content .content-navi {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px 20px;
  gap: 30px 20px;
}
@media (max-width: 600px) {
  .footer-content .content-navi {
    grid-template-columns: repeat(2, 1fr);
  }
}
.footer-content .content-navi li {
  margin-bottom: 8px;
}
.footer-content .content-navi li a {
  white-space: nowrap;
  font-weight: 300;
  text-transform: uppercase;
  color: #ddd4c6;
  font-size: 13px;
  letter-spacing: -0.03em;
}
.footer-content .content-sns {
  text-align: right;
}
@media (max-width: 370px) {
  .footer-content .content-sns {
    text-align: left;
  }
}
.footer-content .content-sns ul li {
  margin-bottom: 8px;
}
.footer-content .content-sns ul li a {
  white-space: nowrap;
  font-weight: 300;
  text-transform: uppercase;
  color: #ddd4c6;
  font-size: 13px;
  letter-spacing: -0.03em;
}

.logo_f {
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-block: max(80px, 15rem);
  color: #f4f0ea;
  text-transform: uppercase;
  font-size: 60px;
}
@media (max-width: 480px) {
  .logo_f {
    font-size: 18rem;
  }
}

.aside {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #fff;
  background: rgba(12, 21, 20, 0.3);
  padding: 0 10px;
  padding-block: 16px;
}
.aside small {
  font-size: 13px;
  letter-spacing: -0.03em;
}
.aside p {
  text-transform: uppercase;
  font-weight: 400;
  color: #f4f0ea;
  line-height: 1.2;
  font-size: 13px;
  letter-spacing: -0.03em;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #f4f0ea;
  z-index: 99;
}

.loading-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: max(10px, 1.6rem);
  gap: max(10px, 1.6rem);
}
.loading-inner .thumb-box {
  position: relative;
  height: max(200px, 40rem);
  aspect-ratio: 0.8337408313;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}
.loading-inner .thumb-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: translateX(-110%);
          transform: translateX(-110%);
}
.loading-inner .text {
  position: relative;
  font-size: max(60px, 20rem);
  text-align: center;
  overflow: hidden;
  color: #4d3d30;
  font-weight: 400;
  line-height: 113%;
  letter-spacing: -0.05em;
}
.loading-inner .curr {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.loading-inner .end {
  opacity: 0;
  visibility: visible;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.loading-inner .end.on {
  opacity: 1;
  visibility: visible;
}
.loading-inner .logo-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.sc-hero {
  position: relative;
  height: 144rem;
  min-height: 1000px;
  overflow: hidden;
}
.sc-hero .hero-bg {
  background: #4d3d30;
  overflow: hidden;
  -webkit-transform: scale(1.3, 1.3);
          transform: scale(1.3, 1.3);
}
.sc-hero .hero-bg video {
  aspect-ratio: 0.8;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.8;
  width: 100%;
  min-height: 1100px;
  -o-object-position: bottom;
     object-position: bottom;
  height: auto;
  background: #4d3d30;
}
.sc-hero .hero-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  padding: 10px;
}
.sc-hero .hero-content .content-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 34vw;
  white-space: nowrap;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.07em;
  margin-top: 50px;
  position: relative;
  left: -8px;
  color: #f4f0ea;
}
.sc-hero .hero-content .content-main .word {
  overflow-y: clip;
}
.sc-hero .hero-content .content-collect {
  margin-left: max(40px, 8rem);
  margin-bottom: max(40px, 10rem);
  width: max(250px, 28.7rem);
  font-size: 14px;
  font-weight: 200;
}
.sc-hero .hero-content .content-collect .collect-desc {
  text-transform: uppercase;
  line-height: 143%;
  margin-bottom: 10px;
}
.sc-hero .hero-content .content-collect .collect-desc .word {
  overflow-y: clip;
}
@media (max-width: 600px) {
  .sc-hero .hero-content .content-collect {
    margin-top: 40px;
    margin-left: 0;
  }
}
.sc-hero .hero-content .content-collect .btn-more.white {
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: -0.03em;
  border: 1px solid #f4f0ea;
  color: #f4f0ea;
}
.sc-hero .hero-content .content-collect .btn-more.white .svg {
  background: #f4f0ea;
}
.sc-hero .hero-content .content-paragraph .title {
  width: max(290px, 56rem);
  text-align: right;
  line-height: 1.13;
  margin-left: 23vw;
  font-size: max(32px, 6.4rem);
  letter-spacing: -0.05em;
}
.sc-hero .hero-content .content-paragraph .title .line {
  overflow: hidden;
  line-height: 1;
  display: inline-block;
}
@media (max-width: 600px) {
  .sc-hero .hero-content .content-paragraph {
    margin-bottom: 50px;
  }
  .sc-hero .hero-content .content-paragraph .title {
    margin-left: 15vw;
  }
}
@media (max-width: 370px) {
  .sc-hero .hero-content .content-paragraph .title {
    font-size: 7.75vw;
    margin-left: 0;
  }
}
.sc-hero .hero-content .content-recommend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
}
.sc-hero .hero-content .content-recommend .recommend-product {
  color: #4d3d30;
}
.sc-hero .hero-content .content-recommend .recommend-product .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.sc-hero .hero-content .content-recommend .recommend-product .thumb {
  aspect-ratio: 1.0334346505;
  -o-object-fit: cover;
     object-fit: cover;
  height: max(34rem, 190px);
  overflow: hidden;
  background: #f4f0ea;
  padding: 6px;
}
.sc-hero .hero-content .content-recommend .recommend-product .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  font-size: max(13px, 1.4rem);
  font-weight: 500;
  letter-spacing: -0.03em;
  background: #f4f0ea;
  padding: 6px;
}
@media (max-width: 768px) {
  .sc-hero .hero-content .content-recommend .recommend-product .text {
    opacity: 1;
  }
}
.sc-hero .hero-content .content-recommend .recommend-product .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: max(1rem, 10px);
  padding-block: max(3px, 0.4rem);
}
.sc-hero .hero-content .content-recommend .recommend-product .price {
  font-weight: 900;
  margin-bottom: max(6px, 0.8rem);
}
.sc-hero .hero-content .content-recommend .recommend-product footer {
  text-align: right;
  padding-block: max(3px, 0.4rem);
}
.sc-hero .hero-content .content-recommend .title {
  display: block;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  margin-top: 30px;
  letter-spacing: -0.045em;
  font-size: 9.6rem;
}
@media (max-width: 768px) {
  .sc-hero .hero-content .content-recommend .title {
    display: none;
  }
}

.sc-hero-about {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  overflow: hidden;
  padding-top: 10px;
  padding-inline: 10rem;
  padding-bottom: 80px;
  margin-inline: auto;
  margin-top: 40px;
}
@media (max-width: 768px) {
  .sc-hero-about {
    width: 100%;
    grid-template-columns: 1fr;
    padding-inline: 10px;
  }
}
.sc-hero-about .about-thumb {
  display: block;
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
@media (max-width: 768px) {
  .sc-hero-about .about-thumb {
    display: none;
  }
}
.sc-hero-about .about-thumb .thumb-img1 {
  width: max(240px, 34rem);
  height: auto;
}
.sc-hero-about .about-thumb .thumb-img1 img {
  width: 100%;
  height: 100%;
}
.sc-hero-about .about-thumb .thumb-img2 {
  width: max(150px, 24rem);
  height: auto;
  position: absolute;
  top: 50%;
  right: 18%;
}
.sc-hero-about .about-thumb .thumb-img2 img {
  width: 100%;
  height: 100%;
}
.sc-hero-about .about-text .title {
  display: block;
  text-align: justify;
  font-weight: 400;
  font-size: max(24px, 4rem);
  line-height: 1.3;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #4d3d30;
  margin-bottom: 15px;
  font-weight: 300;
}
.sc-hero-about .about-text .desc {
  width: max(34rem, 280px);
  text-align: justify;
  line-height: 153%;
  color: #4d3d30;
  margin-bottom: max(1rem, 10px);
  font-size: max(14px, 1.6rem);
  font-weight: 300;
}

.sc-featured {
  overflow: hidden;
}
.sc-featured .featured-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin-top: 20px;
}
.sc-featured .featured-box ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sc-featured .featured-box li {
  background: #e8e0d4;
  margin-right: 10px;
}
.sc-featured .featured-box li .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.sc-featured .featured-box li .thumb {
  position: relative;
  overflow: hidden;
  aspect-ratio: 1.0268456376;
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 280px;
}
.sc-featured .featured-box li .desc {
  padding: 10px;
}
.sc-featured .featured-box li .desc .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  text-transform: uppercase;
  margin-bottom: 6px;
  line-height: 1.25;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: -0.03em;
}
.sc-featured .featured-box li .desc .price {
  font-weight: 400;
  font-size: 20px;
}

.sc-showcase {
  padding: 10px;
  position: relative;
  height: 700vh;
}
@media (max-width: 768px) {
  .sc-showcase {
    height: auto;
  }
}
.sc-showcase .showcase-inner {
  position: sticky;
  top: 0;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 50vw;
  overflow: hidden;
}
@media (max-width: 768px) {
  .sc-showcase .showcase-inner {
    position: static;
    height: auto;
    padding: 100px 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.sc-showcase .showcase-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: max(150px, 25rem);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
@media (max-width: 768px) {
  .sc-showcase .showcase-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    padding: 0;
  }
}
@media (max-width: 480px) {
  .sc-showcase .showcase-list {
    gap: max(10rem, 50px);
  }
}
.sc-showcase .showcase-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: max(2rem, 15px);
}
@media (max-width: 768px) {
  .sc-showcase .showcase-item {
    margin-right: auto;
  }
}
@media (max-width: 480px) {
  .sc-showcase .showcase-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 0;
  }
}
@media (max-width: 768px) {
  .sc-showcase .showcase-item:nth-of-type(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    margin-left: auto;
    margin-right: 0;
  }
}
@media (max-width: 480px) {
  .sc-showcase .showcase-item:nth-of-type(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0;
  }
}
.sc-showcase .showcase-item .content-thumb {
  position: relative;
  width: max(35rem, 240px);
}
@media (max-width: 480px) {
  .sc-showcase .showcase-item .content-thumb {
    width: 100%;
    height: auto;
    aspect-ratio: 951/884;
  }
}
.sc-showcase .showcase-item .content-thumb .wrap {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.sc-showcase .showcase-item .content-thumb .back {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
  aspect-ratio: 951/884;
  -o-object-fit: cover;
     object-fit: cover;
}
.sc-showcase .showcase-item .content-thumb .back img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sc-showcase .showcase-item .content-thumb .front {
  overflow: hidden;
  aspect-ratio: 271/298;
  width: max(19.3rem, 130px);
  position: absolute;
  top: 100%;
  left: 0;
  -webkit-transform: translate(70%, -70%);
          transform: translate(70%, -70%);
}
.sc-showcase .showcase-item .content-thumb .front img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 480px) {
  .sc-showcase .showcase-item .content-thumb .front {
    display: none;
  }
}
.sc-showcase .showcase-item .content-text .title {
  font-size: max(50px, 9.6rem);
  line-height: 113%;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  text-align: center;
  color: #4d3d30;
  margin-bottom: max(5px, 0.5rem);
}
@media (max-width: 480px) {
  .sc-showcase .showcase-item .content-text .title {
    font-size: 14rem;
  }
}

.sc-showcase-about {
  overflow: hidden;
  height: 90rem;
  min-height: 400px;
  background: #4d3d30;
  margin: max(10px, 1.6rem);
  position: relative;
}
.sc-showcase-about .about-thumb {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.sc-showcase-about .bg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sc-showcase-about .bg img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 150%;
  height: 150%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sc-showcase-about .about-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding-block: max(5.5rem, 30px);
  padding-inline: max(13rem, 50px);
  background: #f4f0ea;
}
@media (max-width: 768px) {
  .sc-showcase-about .about-desc {
    padding-block: max(4rem, 30px);
    padding-inline: max(3rem, 16px);
  }
}
.sc-showcase-about .about-desc p {
  font-weight: 300;
  display: block;
  margin-bottom: 1rem;
  font-size: max(14px, 1.6rem);
}
.sc-showcase-about .about-desc .year {
  font-weight: 400;
  margin-bottom: max(10px, 1.6rem);
  font-size: max(60px, 12.8rem);
  color: #4d3d30;
}
.sc-showcase-about .about-desc .more {
  width: max(30rem, 250px);
  font-weight: 400;
  line-height: 139.5%;
  margin-bottom: calc(1.5rem + 10px);
}

.sc-arrival {
  margin-top: 100px;
  overflow: hidden;
}
.sc-arrival .arrival-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 20px;
  padding-inline: 10px;
}
.sc-arrival ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sc-arrival li {
  margin-right: 10px;
  background: #e8e0d4;
}
.sc-arrival li .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.sc-arrival li .link .thumb {
  position: relative;
  overflow: hidden;
  aspect-ratio: 1.0268456376;
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 280px;
}
.sc-arrival li .link .desc {
  padding: 10px;
}
.sc-arrival li .link .desc .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: max(1rem, 10px);
  text-transform: uppercase;
  margin-bottom: 6px;
  line-height: 1.25;
  font-size: max(13px, 1.4rem);
  font-size: 13px;
  font-weight: 500;
  letter-spacing: -0.03em;
}
.sc-arrival li .link .desc .price {
  font-weight: 400;
  font-size: 20px;
}
.sc-arrival .arrival-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: max(40px, 6rem);
}

.sc-briefing {
  padding: 10px;
}
.sc-briefing .briefing-area {
  margin-top: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
}
@media (max-width: 600px) {
  .sc-briefing .briefing-area {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.sc-briefing .briefing-area .col-left {
  width: 70%;
  overflow: hidden;
}
@media (max-width: 600px) {
  .sc-briefing .briefing-area .col-left {
    width: 100%;
  }
}
.sc-briefing .briefing-area .col-left img {
  width: 130%;
  height: 130%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sc-briefing .briefing-area .col-right {
  overflow: hidden;
  width: 25%;
  margin-right: max(30px, 4rem);
  color: #4d3d30;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: sticky;
  top: 65px;
}
@media (max-width: 768px) {
  .sc-briefing .briefing-area .col-right {
    width: max(32rem, 280px);
  }
}
@media (max-width: 600px) {
  .sc-briefing .briefing-area .col-right {
    padding-inline: max(10px, 1.6rem);
    width: 100%;
  }
}
.sc-briefing .briefing-area .col-right .desc {
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: max(30px, 4rem);
  font-size: max(14px, 1.6rem);
}

.sc-newsletter {
  overflow: hidden;
  position: relative;
  padding-block: max(80px, 14rem) max(80px, 20rem);
}
.sc-newsletter .newsletter-text {
  text-transform: uppercase;
  text-align: center;
  width: 80%;
  line-height: 113%;
  margin-inline: auto;
  color: #4d3d30;
  font-size: max(60px, 12.8rem);
}
@media (max-width: 768px) {
  .sc-newsletter .newsletter-text {
    width: 90%;
  }
}
@media (max-width: 480px) {
  .sc-newsletter .newsletter-text {
    font-size: 18rem;
  }
}
.sc-newsletter .newsletter-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: max(10px, 1.6rem);
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: max(46rem, 280px);
  height: max(170px, 21rem);
  background: #e8e0d4;
  will-change: transform;
}
.sc-newsletter .newsletter-card .card-paragraph {
  font-size: max(14px, 1.6rem);
}
.sc-newsletter .newsletter-card .card-input {
  margin-inline: auto;
  width: min(100%, 250px);
  position: relative;
  overflow: hidden;
}
@media (max-width: 768px) {
  .sc-newsletter .newsletter-card .card-input {
    padding-inline: max(10px, 1.6rem);
  }
}
.sc-newsletter .newsletter-card .card-input fieldset {
  border: none;
}
.sc-newsletter .newsletter-card .card-input input {
  text-indent: 6px;
  width: min(100%, 250px);
  height: max(36px, 4.5rem);
  background: 0 0;
  color: #4d3d30;
  outline-color: #8e7867;
  border: 1px solid #8e7867;
  border-radius: 60px;
  font-size: max(14px, 1.6rem);
}
.sc-newsletter .newsletter-card .card-input .btn-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: max(0.8rem, 8px);
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: max(24px, 2.8rem);
  height: max(24px, 2.8rem);
  overflow: hidden;
  background: #4d3d30;
  border-radius: 40px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .sc-newsletter .newsletter-card .card-input .btn-submit {
    right: 18px;
  }
}
.sc-newsletter .newsletter-card .card-input .btn-submit svg {
  width: 14px;
  min-width: 14px;
  height: 14px;
  min-height: 14px;
  -webkit-transition: -webkit-transform 0.85s var(--ease-out-expo);
  transition: -webkit-transform 0.85s var(--ease-out-expo);
  transition: transform 0.85s var(--ease-out-expo);
  transition: transform 0.85s var(--ease-out-expo), -webkit-transform 0.85s var(--ease-out-expo);
}/*# sourceMappingURL=style.css.map */